html {
  height: 100%;
  width: 100%;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: honeydew;
  font-family: comic sans-serif;
  font-weight: bold;
  text-align: center;
}

p {
  color: honeydew;
  font-family: comic sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

ol {
  color: honeydew;
  font-family: comic sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

li {
  color: honeydew;
  font-family: comic sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

body {
  background-color: #0b0145;
}

footer {
  background-color: rgb(83, 0, 0);
  display: flex;
}

audio {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
a{
  color: honeydew;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}